$lineHeight: 6px; // hauteur de ligne, sur laquelle sont basées toutes les tailles
$noteShift: 30px; // décalage de la note en comptant la hampe (cf. svgs)
$offset: 104px; // décalage de la portée vers la droite (cf. index.js également)

html, body {
  margin: 0;
  padding: 0;
  // overflow: hidden;
}
.wrapper{
    width: 8000px;
    padding: $lineHeight*4;
    margin-top: 64px;

    .portee{
        position: relative;

        .lines{
            position: relative;
            z-index: 10;
            .line{
                width: 100%;
                height: 1px;
                background: black;
                margin-bottom: ($lineHeight*2)-1;

                &.outside{
                    background: #EFEFEF;
                    opacity: 0;
                }
            }
        }
        .elements{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9;
            background: white;

            width: $lineHeight*12;
            height: $lineHeight*30;

            .key{
                position: relative;
                // top: $lineHeight*21.5;
                // left: $lineHeight*6;
                width: 46px;
                height: $lineHeight*15;
                background: black;
                // opacity: 0.25;
            }
        }
        .notes{
            position: absolute;
            top: 0;
            left: 104px;
            display: flex;
            flex-direction: row;
            padding-left: $lineHeight*12;
            z-index: 8;

            .note{
                width: 28px;
                // padding-right: 12px;
                height: $lineHeight*7;
                background: url(../assets/note.svg) no-repeat;
                background-size: 100%;

                position: relative;
                margin-right: $lineHeight*4;

                &.correct{

                }
                &.wrong{

                }
                &.b{top: 0 - $lineHeight - $noteShift;}
                &.a{top: 0 - $noteShift;}
                &.g{top: $lineHeight - $noteShift;}
                &.f{top: $lineHeight*2 - $noteShift;}
                &.e{top: $lineHeight*3 - $noteShift;}
                &.d{top: $lineHeight*4 - $noteShift;}
                &.c{top: $lineHeight*5 - $noteShift;}

                &.gr5{
                    margin-top: 0;
                }
                &.gr4{
                    margin-top: $lineHeight*7;
                }
                &.gr3{
                    margin-top: $lineHeight*14;
                }
                &.gr2{
                    margin-top: $lineHeight*21;
                }
                &.gr1{
                    margin-top: $lineHeight*28;
                }
                &.gr0{
                    margin-top: $lineHeight*35;
                }
            }
        }
        .position{
            position: absolute;
            border-top: 2px solid red;
            top: 0;
            margin-left: $lineHeight*12;
            left: 104px;
            width: $lineHeight*4;
            height: 100%;
            // border-radius: 4px;
            background: rgba(255, 0, 0, 0.25);
        }
    }

    #portee-sol{
        .notes{
            top: 0;

            .b.gr5{
                background: url(../assets/note_up_8.svg) no-repeat;
                width: 28px;
                height: 85px;
                top: -36px;
            }
            .a.gr5{
                background: url(../assets/note_up_7.svg) no-repeat;
                width: 28px;
                height: 79px;
                top: -30px;
            }
            .g.gr5{
                background: url(../assets/note_up_6.svg) no-repeat;
                width: 28px;
                height: 73px;
                top: -24px;
            }
            .f.gr5{
                background: url(../assets/note_up_5.svg) no-repeat;
                width: 28px;
                height: 67px;
                top: -18px;
            }
            .e.gr5{
                background: url(../assets/note_up_4.svg) no-repeat;
                width: 28px;
                height: 61px;
                top: -12px;
            }
            .d.gr5{
                background: url(../assets/note_up_3.svg) no-repeat;
                width: 28px;
                height: 55px;
                top: -6px;
            }
            .c.gr5{
                background: url(../assets/note_up_2.svg) no-repeat;
                width: 28px;
                height: 49px;
                top: 0;
            }
            .b.gr4{
                background: url(../assets/note_up_1.svg) no-repeat;
                width: 28px;
                height: 43px;
                top: -36px;
            }
            .a.gr4{
                background: url(../assets/note_up_0.svg) no-repeat;
                width: 28px;
                top: -30px;
            }


            .c.gr3{
                background: url(../assets/note_down_1.svg) no-repeat;
                width: 28px;
            }
            .b.gr2{
                background: url(../assets/note_down_2.svg) no-repeat;
                width: 28px;
            }
            .a.gr2{
                background: url(../assets/note_down_3.svg) no-repeat;
                width: 28px;
            }
            .g.gr2{
                background: url(../assets/note_down_4.svg) no-repeat;
                width: 28px;
            }
            .f.gr2{
                background: url(../assets/note_down_5.svg) no-repeat;
                width: 28px;
            }
            .e.gr2{
                background: url(../assets/note_down_6.svg) no-repeat;
                width: 28px;
            }
            .d.gr2{
                background: url(../assets/note_down_7.svg) no-repeat;
                width: 28px;
            }
            .c.gr2{
                background: url(../assets/note_down_8.svg) no-repeat;
                width: 28px;
                height: 48px;
                top: -6px;
            }
        }
        .elements{
            .key{
                top: 43px;
                left: 8px;
                background: url(../assets/sol_key.svg) no-repeat;
                background-size: 70%;
            }
        }
    }
    #portee-fa{
        .notes{
            top: -114px;

            .b.gr2{
                background: url(../assets/note_up_6.svg) no-repeat;
                width: 28px;
                height: 79px;
                // top: -30px;
            }
            .a.gr2{
                background: url(../assets/note_up_5.svg) no-repeat;
                width: 28px;
                height: 73px;
                // top: -30px;
            }
            .g.gr2{
                background: url(../assets/note_up_4.svg) no-repeat;
                width: 28px;
                height: 67px;
                // top: -30px;
            }
            .f.gr2{
                background: url(../assets/note_up_3.svg) no-repeat;
                width: 28px;
                height: 61px;
                // top: -30px;
            }
            .e.gr2{
                background: url(../assets/note_up_2.svg) no-repeat;
                width: 28px;
                height: 55px;
                // top: -30px;
            }
            .d.gr2{
                background: url(../assets/note_up_1.svg) no-repeat;
                width: 28px;
                height: 49px;
                // top: -30px;
            }
            .c.gr2{
                background: url(../assets/note_up_0.svg) no-repeat;
                width: 28px;
                // top: -30px;
            }


            .e.gr0{
                background: url(../assets/note_down_1.svg) no-repeat;
                width: 28px;
                // top: -30px;
            }
            .d.gr0{
                background: url(../assets/note_down_2.svg) no-repeat;
                width: 28px;
                // top: -30px;
            }
            .c.gr0{
                background: url(../assets/note_down_3.svg) no-repeat;
                width: 28px;
                // top: -30px;
            }
        }
        .elements{
            .key{
                top: 60px;
                left: 8px;
                background: url(../assets/fa_key.svg) no-repeat;
                background-size: 70%;
            }
        }
    }

    .notes-btn{
        background: white;
        border: 1px solid #EEE;
        padding: $lineHeight*2;
        display: flex;
        flex-direction: row;

        .note-btn{
            background: white;
            border: 1px solid #EEE;
            padding: $lineHeight*2;
            margin-right: $lineHeight;
            cursor: pointer;

            &.active{
                border: 1px solid blue;
            }
        }
    }
}
.overlay{
    position: fixed;
    z-index:99;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.75);

    .modal{
        // position: relative;
        // top: 0;
        background: white;
        padding: $lineHeight*4;
        border-radius: 4px;
        box-shadow: 0px 4px 8px rgba(0,0,0,0.25);

        width: 480px;
        margin: 64px auto 0 auto;
    }
    &.hidden{
        opacity: 0;
        z-index:-99;
    }
}
